doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1= page
        h2= type
        p= description
        //p Composition
        ul
            - for (var x = 0; x < names.length; x++)
                li
                    p= names[x]
                    p Description: #{descriptions[x]}
                    p Composition:
                         - for (var y = 0; y < compositions[x].length; y++)
                             li= compositions[x][y]
                    img(src= images[x])

        //img(src= image)

