doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/index.css')
        link(rel='stylesheet', href='/stylesheets/menu.css')
    body
        div.background_menu
            h1.title= title
            p.page= page
            p.description= description
            ul
                - for (var x = 0; x < names.length; x++)
                    div.certain_food
                        li
                            div.text
                                if is_admin
                                    a(href=page + '/' +names[x]) #{names[x]} (Редактировать)
                                else
                                    p= names[x]
                                p Описание: #{descriptions[x]}
                                p Состав: #{compositions[x]}
                                //.toString()}
                                     // - for (var y = 0; y < compositions[x].length; y++)
                                     //     li= compositions[x][y]
                            div.image
                                img(src= images[x])
            if is_admin && names.length === 0
                form(method='POST', action= page + '/delete')
                    input.submit(value='Удалить категорию', type='submit')

            if is_admin
                li
                    div.board_on_background
                        a(href=page + '/add') Добавить позицию
                li
                    div.board_on_background
                        a(href='/admin/menu') Назад
            else
                div.board_on_background
                    a(href='/menu') Назад
            //img(src= image)

