doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1= page
        p= description
        - for (var x = 0; x < list.length; x++)
            - var name = list[x].split('/')[list[x].split('/').length - 1]
            li
                a(href=list[x]) #{name}
        if is_admin
            form(method='POST', action='/admin/menu/update')
                label New category of menu:
                    input(name='type', value='', type='text')
                input(value='Create', type='submit')
