doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1= page
        p= description
        - for (var x = 0; x < names.length; x++)
            li
                p= names[x]
                if is_admin
                    a(href=page.toLowerCase() + '/' + names[x]) Edit
                p Post: #{posts[x]}
                p Self: #{selfs[x]}
                img(src= images[x])
        if is_admin
            a(href=page.toLowerCase() + '/add') Add staff
        img(src='/images/self.webp')

