doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/index.css')
        link(rel='stylesheet', href='/stylesheets/staff.css')
    body
        div.background_staff
            h1.title= title
            p.page= page
            p.description= description
            - for (var x = 0; x < names.length; x++)
                div.certain_employee
                    li
                        div.text
                            if is_admin
                                a(href='staff/' + names[x]) #{names[x]} (Редактировать)
                            else
                                p= names[x]
                            p Должность: #{posts[x]}
                            p О себе: #{selfs[x]}
                        div.image
                            img(src= images[x])
            if is_admin
                li
                    div.board_on_background
                        a(href='staff/add') Добавить сотрудника
                li
                    div.board_on_background
                        a(href= '/admin') Назад
            else
                div.board_on_background
                    a(href='/') Назад