doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/index.css')
        link(rel='stylesheet', href='/stylesheets/tables.css')
    body
        div.background_tables
            h1.title= title
            p.page= page
            p.description= description
             - for (var x = 0; x < tables.length; x++)
                li
                    div.board_on_background
                        if is_admin
                            a(href='/admin/tables/' + tables[x]) Столик #{tables[x]}
                        else
                            a(href='/tables/' + tables[x]) Столик #{tables[x]}
            if is_admin
                form(method='POST', action='/admin/tables/update')
                    li.post
                        input.text(name='number', value='', type='text', placeholder="Номер")
                    li.post
                        input.text(name='description', value='', type='text', placeholder="Описание")
                    input.submit(value='Создать столик', type='submit')
            div.board_on_background
                if is_admin
                    a(href='/admin') Назад
                else
                    a(href='/') Назад
        //img(src='/images/tables.jpg')